name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8.15.4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check code formatting
        run: pnpm format:check

      - name: Run ESLint
        run: pnpm lint

      - name: Run Stylelint
        run: pnpm lint:style

      - name: Run type check
        run: pnpm exec tsc --noEmit

      - name: Run tests
        run: pnpm test:ci

      - name: Build
        run: pnpm build
        env:
          SKIP_ENV_VALIDATION: true
